/* Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0} 
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; } a {text-decoration: none; color: inherit;}

html {
	background-color: #fbfbfb;
}

body {
	font-family: "cs", "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	color: #777;
	max-width: 1450px;
	margin: 0 auto;
	background-color: #fff;
}

/* Header */

header {
	max-width: 960px;
	margin: 0 auto;
	padding: 80px 0;
}

header h1 {
	color: #222;
	float: left;
}

header h1:hover {
	color: #888;
}

header nav {
	float: right;
}

header nav ul {
	list-style: none;
}

header nav ul li {
	display: inline-block;
	margin: 0 60px 0 0;
}

header nav ul li:last-child {
	margin: 0;
}

/* Main */

main {
	font-size: 0;
}

/* Lead */

div.lead {
	max-width: 960px;
	margin: 120px auto 180px auto;
	padding: 0 26% 0 0;
}

div.lead p {
	font-size: 28px;
	font-weight: 300;
	color: #666;
	line-height: 60px;
}

/* Work */

ul#work {
	width: 100%;
	font-size: 0;
}

ul#work li {
	height: 400px;
	background-color: #222;
	background-size: cover;
	position: relative;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
}

ul#work li h2 {
  width: 100%;
  z-index: 99;
  position: absolute;
  padding: 0 80px;
  top: 45%;
  opacity: 0;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  line-height: 30px;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 2s;
  -webkit-animation-iteration-count: infinite;
}

ul#work li:hover h2 {
  -webkit-animation: slideInUp 1s;
  opacity: 1;
}

ul#work li:hover .overlay {
  opacity: 1;
}

ul#work li:hover img {
  width: 104%;
  height: 104%;
  left: -2%;
  top: -2%;
}

ul#work li .overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  opacity: 0;
}

ul#work li img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  text-align: center;
  object-fit: cover;
  object-position: center;
}

/* Case Study */

div.heading {
	margin: 160px 0 280px  0;
}

div.heading h2.title {
	font-size: 36px;
	font-weight: 600;
	color: #222;
	text-align: center;
	margin: 0 0 60px 0;
}

div.heading  p.desc {
	font-size: 16px;
	color: #777;
	line-height: 36px;
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
}

img.full {
	width: 100%;
}

iframe.video {
	display: block;
	margin: 120px auto;
	width: 960px;
	height: 540px;
}

/* 404 */

div.404 {
	margin: 240px 0;
	font-size: 18px;
}

div.404 h2 {
	font-size: 24px;
	color: #222;
	margin: 0 0 60px 0;
}

div.404 p {
	font-size: 18px;
	color: #fbfbfb;
}

/* Footer */

footer {
	max-width: 960px;
	margin: 0 auto;
	padding: 160px 0;
	text-align: center;
}

footer p.copy {
	font-size: 14px;
	margin: 0 0 40px 0;
}

footer ul.social {
	list-style: none;
}

footer ul.social li {
	display: inline-block;
	font-size: 22px;
	margin: 0 20px;
	cursor: pointer;
}

footer ul.social li:hover {
	color: #222;
}

/* Other */

header h1,
footer ul.social li,
ul#work li img,
ul#work li .overlay,
ul#work li h2,
ul#work li {
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

/* Animations */

@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 30%, 0);
    transform: translate3d(0, 30%, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 30%, 0);
    transform: translate3d(0, 30%, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp; }

@-webkit-keyframes slideOutDown {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, 30%, 0);
    transform: translate3d(0, 30%, 0); } }
@keyframes slideOutDown {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, 30%, 0);
    transform: translate3d(0, 30%, 0); } }