// layout

html {
	background-color: #f9f9f9;
	width: 100%;
	min-height: 100vh;
	color: #000;
	font-family: "Gilroy", "proxima nova", "Helvetica Neue", "Helvetica", sans-serif;
}

body {
	min-height: 100vh;
}

h1,h2,h3,h4,h5,h6 {
	font-family: "Gilroy";
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;

  & > [class^="col-"],
  & > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}