// media queries


@media (max-width: 1199.98px) {

	.home-hero {

		img {
			width: 875px;
		    position: absolute;
		    top: -55%;
		    left: -5%;
		}
	}
	
}

@media (max-width: 991.98px) {

}

@media (max-width: 767.98px) {

}

@media (max-width: 575.98px) {

	.home-hero {
		padding: 80px 0;

		.hero-content {

			h1 {
				font-size: 64px;
			}
		}

		img {
			width: 660px;
		    position: absolute;
		    top: -50%;
		    left: -5%;
		}
	}

}