// nav

nav {

	.logo {
		width: 140px;
		height: 80px;
		object-fit: contain;
		object-position: center left;
		display: block;
		@extend .ease;

		path {
			@extend .ease;
		}

		&:hover {
			opacity: 0.6;
		}
	}

	.nav-links {
		text-align: center;

		a {
			font-weight: 500;
			color: #fff;
			font-weight: 700;
			font-size: 16x;
			line-height: 80px;
			display: inline-block;
			margin: 0 40px 0 0;
			@extend .ease;

			&:last-child {
				margin: 0;
			}
			
			&:hover {
				color: $orange;
			}
		}
	}

	.order-nav {
		background-color: $orange;
		font-weight: 600;
		font-size: 16x;
		border: 2px solid $orange;
		padding: 10px 0;
		width: 100%;
		display: block;
		text-align: center;
		color: #fff;
		margin: 16px 0 0 0;
		border-radius: 6px;
		cursor: pointer;
		@extend .ease;

		&:hover {
			background-color: rgba(255,255,255,0);
			color: $orange;
		}
	}
}